:root {
    --content: #94AF9F;
    --brm: 1;
}

@supports (corner-shape: squircle) {
  :root {
    --brm: 2;
  }
}

/*Included Fonts*/
@font-face{font-family: Special Gothic;src: url('./!g/SpecialGothic_SemiCondensed-SemiBold.ttf')}
@font-face{font-family: Josefin-Sans;src: url('./!g/JosefinSans-VariableFont_wght.ttf')}
@font-face{font-family: New-Astro;src: url('./!g/New\ Astro\ Regular.otf')}
@font-face{font-family: Patua-One;src: url('./!g/PatuaOne-Regular.ttf')}

p {
    text-indent: 30pt;
    font-family: 'Special Gothic', sans-serif;
  }
body {
    font-family: 'Special Gothic', sans-serif;
    margin: 0;
    background-color: white;
    background-size: 65px;
    color: black;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
            }
            @keyframes fadeInAnimation {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                 }
            }
* {
    box-sizing: border-box;
}
main {
    background-color:  white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    flex: 1;
    padding: 20px;
    order: 2;
    max-width:70%;
    font-size: 18px;
    border-radius: 20px;
    margin:auto;
    margin-top:30px;
    margin-bottom:10px;
}
footer {
    background-color: #13092D;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}

h1,h2,h3 {
    color: #1D5B79;
    font-family: 'Special Gothic', sans-serif;
}

h1 {
    font-size: 25px;
}

strong {
    color: #1D5B79;
    font-family: 'Special Gothic', sans-serif;
}
#name-tag {
    width:180px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:-5px;
    font-family: 'Special Gothic', sans-serif;
}
#logo-header-image {
    max-width:180px;
    z-index: 2;
}

#container {

    margin: 0 auto;
}
#container a {
    color: #D5B4B4;
    font-weight: bold;
}
#header {
    width: 100%;
    height: 150px;
    background-size: 100%;
    font-family: 'Special Gothic', sans-serif;
}
/*Navbar Content*/
#navbar {
  max-width: 900px;
    margin-top:10px;
    font:50px;
}
#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}
#navbar li {
    padding-top: 10px;
    text-decoration:none;
}
#navbar li a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}
#navbar li a:hover {
    color:red;
}
#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #FEF1DC;
}
#flex {
    display: flex;
}

.headerarea {
    width: 100%;
    background-size: 100%;
    font-family: 'Special Gothic', sans-serif;
    position:fixed;
}
/*Dropdown Content*/
.dropdown {
    font-size: 25px;
    width:125%;
    text-align:center;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: calc(16px * var(--brm));
    corner-shape: squircle;
}
.dropdown-content {
  display: none;
  border-radius: 2.5%;
  position: absolute;
  background-color: #f1f1f1;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Special Gothic', sans-serif;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  font-family: 'Special Gothic', sans-serif;
}
.dropdown-content a:hover {color:red;}
.dropdown:hover .dropdown-content {display: block; font-family: 'Special Gothic', sans-serif;}
.dropdown:hover {color:red;}
.contactIcon {
    margin-bottom:-6px;
    height: 25px;
}

@media only screen and (max-width: 600px), (orientation: portrait){
        main {
            background-color:  white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            flex: 1;
            padding: 5px;
            order: 2;
            max-width:65%;
            font-size: 18px;
            border-radius: 20px;
            margin-right:5px;
            margin-bottom:10px;
        }
        .dropdown {
             font-size: 25px;
             height:100%;
            }
        .dropdown-content {
        font-size: 15px;
        display: none;
        border-radius: 2.5%;
        position: absolute;
        background-color: #f1f1f1;
        min-width:100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-family: 'Special Gothic', sans-serif;
        }
        #navbar ul {
            max-width:30%;
            text-overflow: ellipsis;
            text-align:center;
            position:absolute;
            display: block;
            padding: 0;
            margin: 0;
            list-style-type: none;
            justify-content: space-evenly;
        }
        .dropdown:focus .dropdown-content {display: block; font-family: 'Special Gothic', sans-serif;}
        #logo-header {
            max-width:100%;
        }
        #logo-header-image {
            width:100%;z-index: 2;
        }
        #name-tag {
                width:100%;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:-5px;
        font-family: 'Special Gothic', sans-serif;
            }
            #navbar {
  background-color: white;
  max-width: 900px;
    margin-top:10px;
    font:30px;
}
    }
